header {
  display: flex;
  justify-content: center;
  padding-top: 28px;
}
.lineDiv {
  border-bottom: 1px solid #e4e3eb;
  background: #fff;
  display: flex;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 0 150px 0;
}
h1 {
  line-height: 40px;
  position: relative;
  right: 152px;
}
.imageDiv {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
}
.uploadPhoto {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 40px;
  position: relative;
  right: 238px;
}
.upload-image-input-div {
  border-radius: 12px;
  border: 1px dashed #85858d;
  background: #f4f3ff;
  display: flex;
  align-items: center;
  padding: 48px;
  gap: 24px;
  flex-direction: column;
  width: 600px;
}
#folder-add {
  width: 40px;
  height: 40px;
}
#chooseFile {
  text-decoration: underline;
}
.choose {
  color: #1a1a1f;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
#upload-image-input {
  display: none;
}
.author {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#author-name-input,
#title-input {
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #fcfcfd;
  width: 288px;
  height: 44px;
  flex-shrink: 0;
  color: #1a1a1f;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 12px 12px 12px 16px;
}
#list {
  margin-left: 20px;
  color: #85858d;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.author-and-title {
  display: flex;
  gap: 24px;
  padding-top: 24px;
}
.title-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.describe-div {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 8px;
}
#describe {
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #fcfcfd;
  width: 600px;
  height: 124px;
  padding: 12px 0 0 16px;
  resize: none;
  font-size: 14px;
}
#describe::placeholder {
  text-align: start;
  position: absolute;
  top: 12px;
  left: 16px;
}
.min-four-character {
  color: #85858d;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

#date-input {
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #fcfcfd;
  width: 288px;
  height: 44px;
  padding: 12px 12px 12px 16px;
}
.date-category {
  padding-top: 24px;
  display: flex;
  gap: 24px;
}
.category,
.date {
  display: flex;
  flex-direction: column;
}
.email {
  padding: 24px 303px 0 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#email-input {
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #fcfcfd;
  width: 288px;
  height: 44px;
  color: #1a1a1f;
  font-family: FiraGO;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 12px 12px 12px 16px;
}
#submit {
  display: flex;
  width: 288px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #e4e3eb;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 40px;
}
.submit-btn {
  width: 600px;
  display: flex;
  justify-content: end;
}
#div-for-file {
  width: 600px;
  height: 56px;
  border-radius: 12px;
  background: #f2f2fa;
  margin-top: 8px;
  gap: 12px;
  padding: 16px 0 16px 16px;
  display: none;
}
#remove-icon {
  position: relative;
  left: 32rem;
}
#email-error-msg {
  gap: 8px;
  width: 288px;
  display: flex;
  display: none;
}
.error-msg {
  color: #ea1919;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
#info-circle {
  margin-top: -17px;
}
#toggleButton {
  cursor: pointer;
  padding: 5px;
  background-color: #e0e0e0;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #f8fff8;
  width: 286px;
  margin-top: 8px;
  min-height: 44px;
  display: flex;
  overflow: auto;
}

#bottomDiv {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
}

.categoryButton {
  margin-right: 5px;
  padding: 8px 12px;
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 30px;
  background: #1ac7a8;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  width: 100px;
  margin-top: 5px;
}

#categoryButtonsContainer {
  display: flex;
}
#bottomDiv {
  width: 288px;
  border-radius: 20px;
}
#arrow-down {
  left: 251px;
  position: relative;
  top: 6px;
}
#date-input {
  margin-top: 8px;
}
#min-four-character {
  color: #85858d;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
#remove-icon {
  cursor: pointer;
}
